@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  background: #040c18;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 950px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 350px) {
}
