@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  background: #040c18;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 950px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 350px) {
}
