#header {
  padding: 4rem 0px;
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

#header .imageContent {
  display: flex;
  margin-top: 70px;
}
#header .imageContent .content {
  width: 50%;
}
#header .imageContent .content h2 {
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
#header .imageContent .content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #81afdd;
  margin-top: 30px;
}
#header .imageContent .content .form {
  display: flex;
  gap: 0;
  margin-top: 50px;
}
#header .imageContent .content .form input {
  width: 75%;
  background: #052d56;
  border-radius: 5px 0px 0px 5px;
  height: 73px;
  border: none;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #3d6184;
}
#header .imageContent .content .form button {
  width: 25%;
  height: 73px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  background: #ff4820;
  border-radius: 0px 5px 5px 0px;
}
#header .imageContent .image {
  width: 50%;
}
#header .imageContent .image img {
  width: 100%;
}
@media screen and (max-width: 850px) {
  #header .imageContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  #header .imageContent .content,
  #header .imageContent .image {
    width: 100%;
  }
  #header .imageContent .content h2,
  #header .imageContent .content p {
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 350px) {
}
